body {
    margin: 0;
    font-family: 'Merriweather', serif;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 3vh;

        /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./assets/bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 { 
    /* Text styles */
    font-size: 5em;
    margin-top: 0em;
}

.card-body p{
    padding-bottom: 1vh;
}

.projects{
     /* Sizing */
    min-height: 100vh;
    padding-top:2vh;
}

h1{
    text-align: center;
}
h3{
    text-align: center;
}

.tutoring{
    /* Sizing */
    min-height: 100vh;
    margin-top:6vh;
    padding-top:2vh;
}

.images-cards{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
}

.center{
    margin:auto;
    max-width: 70vw;
}

.row{
    padding-bottom: 2vh;    
}

.bio{
    min-height: 100vh;
    margin-top: 6vh;
    padding-top:2vh;
}

.bottom-align{
    position: absolute;
    bottom: 0;
    right: 0;
  }
 

a.nav-link:link{
    color:#ffffff;
    text-decoration: none;
}
a.nav-link:visited{
    color:#ffffff;
    text-decoration: none;
}
a.nav-link:hover{
    color:#d6d6d6;
    text-decoration: none;
}

.avatar{
    width: 75%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

